<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DFS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
</head>
<body>
    <div class="title">
        <h2 style="margin-top: 1%; text-align: center;">DFS<h2>
    </div>
    <div id="mid">
        <div class="index">
            <p><img src="static/img/blue.png"> : Completely traversed Node</p>
            <p><img src="static/img/cyan.png"> : Current Node</p>
            <p><img src="static/img/grey.png"> : Visited Node</p>
            <p><img src="static/img/white.png"> : Unvisited Node</p>
        </div>
        <div style="width:50%;height:100%; float: left;">
            <img id="picture" style="height: 100%;" src="">
        </div>
        <div id="ind" style="text-align: left; padding-top: 5%;">
            <h4>DFS Traversal: </h4>
            <p id="results"></p>
        </div>
    </div>
    <div id="end">
        <div style="width: 100%; height: 10vh; text-align: center;">
            <p id="txt">
            </p>
        </div>
        <div style="width: 100%; height: 10vh">
            <form id="form1" style="padding-left: 25%; padding-right: 0%;" method="POST">
                <div style="width: 15%; float:left">
                    <div>
                    <input type="checkbox" oninput="check(this.id,'undir')" id="dir" checked>
                    <label>Directed</label>
                    </div>
                    <div>
                        <input type="checkbox" oninput="check(this.id,'dir')" id="undir">
                        <label >Undirected</label>
                    </div>
                </div>
                <div style="width:15%; float:left;">
                    <label>Source: </label>
                    <input id="src" size="1">
                </div>
                <div style="width:25%; float:left">
                    <input class="btn btn-primary" type="submit" value="Start" id ="mySubmit" style="margin-right: 10%;"/>
                    <button class="btn btn-primary" type="button" id="newg" 
                    data-toggle="modal" data-target="#myModal">New Graph</button>
                </div>
                <div class="slidecontainer" style="width: 10%; float:left">
                    <label>Speed</label>
                    <input oninput="setspeed()" id="speedinp" type="range" min="10" max="20" value="15">       
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="width: 70%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <div style="width: 85%; float: left;">
                            <h3 class="modal-title" style="text-align:center;"
                            >Choose any graph</h3>
                        </div>
                        <div style="width: 15%; float: left;">
                            <button class="btn btn-primary" type="button"onclick="reset()"
                            data-dismiss="modal" data-toggle="modal" data-target="#myModal2"
                            >User Defined</button>
                            <button type="button" class="close" 
                                    data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                    <div class="modal-body" style="background-color: #ddd;">
                        {%for img_data in data%}
                            <img data-dismiss="modal" onclick="change(this.id)" 
                            id="{{loop.index-1}}"src="data:image/png;base64,
                                {{img_data}}" 
                            width="30%" style="margin-top:2.5%; margin-right:1.25%;
                                margin-left:1.25%; border-radius: 5%;">
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="graphdata">

                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var socket = io.connect({transports: ['websocket']});
    var d=1;
    var n=[];
    var pause =1500;
    var imgarr=[];
    var res=[];
    var text=[];
    var allv=[];
    var direct=1;

    document.getElementById("ind").style.visibility = "hidden";
    $(window).on('load',function(){
        $('#myModal').modal('show');
    });
    $('#myModal').modal({
        backdrop: 'static',
        keyboard: true
    })
    socket.once('connect', function() {
        var form = $( 'form' ).on( 'submit', function( e ) {
            e.preventDefault()
            var f=0;
            var src=document.getElementById("src").value;
            for(let i=0; i <allv.length;i++){
                if(allv[i]==src)f=1;
            }
            if(f==0){
                alert("Invalid source node");
                return;
            }
            socket.emit( 'dfs',{flag :1,'n':n,'d':d,'src':src})
            document.getElementById("src").disabled = true;
            document.getElementById("mySubmit").disabled = true;
            document.getElementById("newg").disabled = true;
            document.getElementById("dir").disabled = true;
            document.getElementById("undir").disabled = true;
        } );
    } );
    socket.on('my-image-event', function( msg ) {
        let arrayBufferView = new Uint8Array(msg['image_data']);
        var blob = new Blob( [ arrayBufferView ], { type: "image/png" } );
        var img_url = URL.createObjectURL(blob);
        imgarr.push(img_url);
        if(msg['result'])
        res.push(msg['result']);
        if(msg['text']){
            text.push(msg['text']);
        }
        if(msg['allvs']){
            allv=JSON.parse(msg['allvs']);
            $('#src').attr('value',allv[0]);
        }
    } );
    socket.on('submit1', function( msg ) {
        if(msg['flag']==1)
            plot();
        else{
            $("#picture").attr("src", imgarr[0]);
            imgarr.splice(0, imgarr.length);
        }
      n=msg['n'];
      d=msg['d'];
    } );
    function check(id,id1){
        document.getElementById(id).checked = true;
        document.getElementById(id1).checked = false;
        d=0;
        if(id=="dir"){
            d=1;
        }
        document.getElementById("ind").style.visibility = "hidden";
        socket.emit( 'dfs',{flag :0,'n':n,'d':d});
    }
    function check1(id){
        document.getElementById(id).checked = true;
        if(id=='newundir'){
            document.getElementById('newdir').checked = false;
        }
        else{
            document.getElementById('newundir').checked = false;
        }
    }
    function addedges(){
        var v1 =document.getElementById('addvertex').value;
        var e1=document.getElementById('addedge').value;
        if(v1<=0 || v1>10){
            alert("No of vertices should be from 1 and 10.");
            return;
        }
        if(e1==0){
            alert("Min 1 edge required.");
            return;
        }
        if(document.getElementById('newundir').checked){
            direct=0;check('undir','dir');
        }
        else{
            check('dir','undir');
        }
        document.getElementById('graphdata').innerHTML="\
        <form id=edge>\
        </form>";
        for(let i =0; i <e1;i++){
            document.getElementById('edge').innerHTML+="\
            <label>Edge "+(i+1)+": </label>\
            <input type='number' min='0' max="+(v1-1)+" id=s"+i+" >\
            <input type='number' min='0' max="+(v1-1)+" id=d"+i+" ><br>";
        }
        document.getElementById('edge').innerHTML+="\
        <button type=button onclick=setgraph("+e1+","+v1+") class= 'btn btn-primary'>\
        Submit</button>";
    }
    function reset(){
        document.getElementById('graphdata').innerHTML="\
        <label>Enter number of vertices: </label>\
        <input id= addvertex type=number min=1 max=10><br>\
        <label>Enter number of edges: </label>\
        <input id= addedge type=number min=1 max=10><br>\
        <input id='newdir' type = checkbox onclick=check1(this.id) checked>\
        <label>Directed</label>\
        <input id='newundir' onclick=check1(this.id) type = checkbox>\
        <label>Undirected</label><br>\
        <button type=button onclick=addedges() class= 'btn btn-primary'>Submit</button>\
        ";
    }
    function setgraph(n1,v1){
        var srcs=[];
        var dsts=[];
        for(let i =0; i<n1;i++){
            srcs.push(document.getElementById('s'+i).value);
            dsts.push(document.getElementById('d'+i).value);
        }
        for(let i=0; i <n1;i++){
            if(srcs[i]=='' || dsts[i]==''){
                alert("Vertex Id cannot be empty.");
                return;
            }
            else if(parseInt(srcs[i])>=v1 || parseInt(dsts[i])>=v1){
                alert("Vertex Id out of range.");
                return;
            }
            else if(parseInt(srcs[i])<0 || parseInt(dsts[i])<0){
                alert("Vertex Id out of range.");
                return;
            }
            for(let j =i+1; j <n1;j++){
                if(srcs[i]==dsts[j] && dsts[i]==srcs[j]){
                    if(direct==1){
                        alert("Edges that can create multiedges during\
 conversion from directed to undirected are not allowed.");
                        return;
                    }    
                    alert("Same edge cannot be added twice.");
                    return;
                }
            }
        }
        $('#myModal2').modal('hide');
        socket.emit( 'dfs',{flag :-2,'srcs':srcs,'dsts':dsts,'d':direct});
    }
    function change(id){
        var ID = parseInt(id);
        if(ID<0){
            ID*=-1;
            ID=Math.floor(Math.random() * ID);
        }
        document.getElementById("ind").style.visibility = "hidden";
        socket.emit( 'dfs',{flag :-1,'n':ID,'d':d});
    }
    function setspeed(){
        pause=(30-document.getElementById("speedinp").value)*100;
    }
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    async function plot() {
        document.getElementById("results").innerHTML="";
        document.getElementById("ind").style.visibility = "visible";
        for (let i = 1; i <imgarr.length ; i++) {
            let k =document.getElementById("results").innerHTML;
            if(res[i-1]!=-1){
                if(k!=""){
                    document.getElementById("results").innerHTML+="➞";
                }
                document.getElementById("results").innerHTML+=" "+res[i-1]+" ";
            }
            if(text[i-1][0]==-1){
                document.getElementById("txt").innerText="We first explore Vertex "+
                text[i-1][1]+" as it is the source."
            }
            else if(text[i-1][0]==2){
                document.getElementById("txt").innerText="Vertex "+
                text[i-1][1]+" is completely explored."
            }
            else if(text[i-1][0]==1){
                document.getElementById("txt").innerText="Vertex "+
                text[i-1][1]+" is explored next";
            }
            else{
                document.getElementById("txt").innerText="";
            }
            $("#picture").attr("src", imgarr[i]);
            await sleep(pause);
        }
        text.splice(0, text.length);
        res.splice(0,res.length);
        imgarr.splice(0, imgarr.length);
        document.getElementById("txt").innerText="";
        document.getElementById("src").disabled = false;
        document.getElementById("mySubmit").disabled = false;
        document.getElementById("newg").disabled = false;
        document.getElementById("dir").disabled = false;
        document.getElementById("undir").disabled = false;
    }
</script>
</html>
