<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
</head>
<body>
    <div style="width: 100%; height: 10vh; text-align: center;">
        <h2>DFS<h2>
    </div>
    <div style="width: 100%; height: 70vh; text-align: center;">
        <img id="picture" src="data:image/png;base64,{{ data[0] }}">
    </div>
    <div style="width: 100%; height: 10vh; text-align: center;">
        <form id="form1"action="" method="POST">
            <div style="width: 30%; float:left">
                <div>
                <input type="checkbox" oninput="check(this.id,'undir')" id="dir" checked>
                <label>Directed</label>
                </div>
                <div>
                    <input type="checkbox" oninput="check(this.id,'dir')" id="undir">
                    <label >Undirected</label>
                </div>
            </div>
            <div style="width:30%; float:left">
                <input class="btn btn-primary" type="submit" id ="mySubmit" style="margin-right: 10%;"/>
                <button class="btn btn-primary" type="button" id="newg" 
                data-toggle="modal" data-target="#myModal">New Graph</button>
            </div>
            <div class="slidecontainer" style="width: 10%; float:left">
                <label>Speed</label>
                <input oninput="setspeed()" id="speedinp" type="range" min="10" max="20" value="15">       
            </div>
        </form>
    </div>
    <div class="container">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="width: 70%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <div style="width: 85%; float: left;">
                            <h4 class="modal-title" style="text-align:center;"
                            >Choose any graph</h4>
                        </div>
                        <div style="width: 15%; float: left;">
                            <button class="btn btn-primary" type="button" 
                                id="{{data|length}}"
                                onclick="change(-1*this.id)"
                                data-dismiss="modal">Random</button>
                            <button type="button" class="close" 
                                    data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                    <div class="modal-body" style="background-color: #ddd;">
                        {%for img_data in data%}
                            <img data-dismiss="modal" onclick="change(this.id)" 
                            id="{{loop.index-1}}"src="data:image/png;base64,
                                {{img_data}}" 
                            width="30%" style="margin-top:2.5%; margin-right:1.25%;
                                margin-left:1.25%; border-radius: 5%;">
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>    
    </div>      
</body>
<script type="text/javascript">
    var socket = io.connect('https://algoviz2.herokuapp.com/',{transports: ['websocket']});
    var n=0,d=1;
    var pause =1500;
    var imgarr=[];
    socket.on('connect', function() {
        var form = $( 'form' ).on( 'submit', function( e ) {
            e.preventDefault()
            socket.emit( 'dfs',{flag :1,'n':n,'d':d})
            document.getElementById("mySubmit").disabled = true;
            document.getElementById("newg").disabled = true;
            document.getElementById("dir").disabled = true;
            document.getElementById("undir").disabled = true;
        } );
    } );
    socket.on('my-image-event', function( msg ) {
        let arrayBufferView = new Uint8Array(msg['image_data']);
        var blob = new Blob( [ arrayBufferView ], { type: "image/png" } );
        var img_url = URL.createObjectURL(blob);
        imgarr.push(img_url);
    } );
    socket.on('submit1', function( msg ) {
        if(msg['flag']==1)
            plot();
        else{
            $("#picture").attr("src", imgarr[0]);
            imgarr.splice(0, imgarr.length);
        }
      n=msg['n'];
      d=msg['d'];
    } );
    function check(id,id1){
        document.getElementById(id).checked = true;
        document.getElementById(id1).checked = false;
        d=0;
        if(id=="dir"){
            d=1;
        }
        socket.emit( 'dfs',{flag :-1,'n':n,'d':d});
    }
    function change(id){
        var ID = parseInt(id);
        if(ID<0){
            ID*=-1;
            ID=Math.floor(Math.random() * ID);
        }
        socket.emit( 'dfs',{flag :-1,'n':ID,'d':d});
    }
    function setspeed(){
        pause=(30-document.getElementById("speedinp").value)*100;
    }
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    async function plot() {
        for (let i = 1; i <imgarr.length ; i++) {        
            $("#picture").attr("src", imgarr[i]);
            await sleep(pause);
        }
        imgarr.splice(0, imgarr.length);
        document.getElementById("mySubmit").disabled = false;
        document.getElementById("newg").disabled = false;
        document.getElementById("dir").disabled = false;
        document.getElementById("undir").disabled = false;
    }
</script>
</html>
