<!DOCTYPE html>
<html>
<head>
    <title>Test Image</title>
</head>
<body>
    <h1 style="font-family:serif; font-style: italic;">AlgoViz</h1>
    <h3>Traversals</h3>
    <div class="signup-link">
        <p><a href="{{ url_for('dfs') }}"> DFS </a></p>
    </div>
    <div class="signup-link">
        <p><a href="{{ url_for('bfs') }}"> BFS </a></p>
    </div>
    <h3>Shortest paths</h3>
    <div class="signup-link">
        <p><a href="{{ url_for('dijkstra') }}"> Dijkstra </a></p>
    </div>
</body>
</html>